@charset "UTF-8";

body
  { 
    background-image:url('../image/sky.png');

  }

.head{
	width:100%;
	height:43px;
	background-color:rgba(0,139,139,0.8);
}

.register{
	color:white;
	float:right;
	letter-spacing:10px;
	margin-right:100px;
}

.nav a{
	text-decoration: none;
	color:white;
	margin-left:70px;
	letter-spacing:10px;
	cursor:hand;
	float:left
}

.register a{
	text-decoration: none;
	color:white;
	letter-spacing:10px;
	cursor:hand;
}

.log{
	margin-top: 80px;
	margin-left:530px;
	position: fixed;	
	width:470px;
	height:460px;
	overflow: hidden;
	background-color:rgba(255,255,255,0.4);
	border-radius: 10px;
}

.log input{
	width: 360px;
    height: 30px;
    border: 1px solid #C0C0C0;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 5px;
    outline: none;
	border-radius: 10px;
}

.log span{
	margin-left:26px;
	font-size:17px;
}

p{
	font-size:40px;
	text-align:center;
}


















