<!--
代码为自动生成 Created by www.magicalcoder.com
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:323237052
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v103/include/head :: commonHead('权限明细配置编辑')"/>

<body class="childrenBody layui-hide">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">

            </div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item security_edit_form_param_id">
                        <label class="layui-form-label">主键</label>
                        <div class="layui-input-block">
                            <input type="text" disabled="true" class="layui-input" name="id"  placeholder="主键自动生成，无需手动编辑,如果重置则变成增加数据"/>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_permissionName">
                        <label class="layui-form-label">权限名称</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="permissionName" placeholder="请输入权限名称" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="全部权限" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_filterPlatform">
                        <label class="layui-form-label">规则适用端</label>
                        <div class="layui-input-block">
                        <select name="filterPlatform" class="layui-input" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0"  placeholder="请选择规则适用端">
                             <option value="" selected="selected">请选择</option>
                             <option value="front" >前端</option>
                             <option value="backend" >后端</option>
                             <option value="front_backend" >前后端</option>
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_backendUrlReg">
                        <label class="layui-form-label">后端正则地址</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="backendUrlReg" placeholder="/admin/把我改成小写表名称_rest/[\s\S]* 请输入后端的地址正则,校验当前请求url是否有权限,get|post统一会按照参数首字母排序" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="/admin/把我改成小写表名称_rest/[\s\S]*" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_frontDom">
                        <label class="layui-form-label">DOM前端Key</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="frontDom" placeholder="jquery选择器,可为空，逗号分隔多个，例如#id,[name=\'goodsName\']" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_frontAction">
                        <label class="layui-form-label">前端处理方式</label>
                        <div class="layui-input-block">
                        <select name="frontAction" class="layui-input" lay-verify="magicalCoderVerify" magicalcoder-verify=""  placeholder="前端处理方式,可为空">
                             <option value="" selected="selected">请选择</option>
                             <option value="show" >读写</option>
                             <option value="disabled" >只读</option>
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_moduleId">
                        <label class="layui-form-label">所属二级菜单</label>
                        <div class="layui-input-block">
                        <select name="moduleId"  data-url="admin/sys_module_rest/search" data-id="id" data-text-fields="moduleTitle" class="magicalcoder-foreign-select2 layui-input" lay-ignore="true" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" data-value=""  placeholder="请选择所属二级菜单" data-limit="20"><option value=""></option></select>
                        </div>
                    </div>
                    <!--把下面的按钮移动到form外面 键盘回车事件就取消了 -->
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <button class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</button>
                            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="magicalcoder/v103/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/sys_permission/edit.js}"></script>
</body>
</html>
