##详情页1对多关联 Many
#parse("vms/$version/common/variable/head.vm")
#parse("vms/$version/common/comment/ClassDesc.vm")
//表单通用配置 列表页 详情页都需要 v103版本已经废弃
layui.define(['jquery'],function(exports){
    var obj =
        {
            tableNameRest:"${tableRealName}_rest",
            tableName:"${tableRealName}",
            moduleName:"${tableRealName}",//sys_module的moduleName
            form:{}
        }
    exports('${lowerEntity}_config',obj);
})
