##本身日期查询
#if($StringUtil.isNotBlank($formQuery.firstCompare))
                                <div class="layui-inline security_list_query_param_$node.dbField.javaField">
                                    <input type="text" data-name="${node.dbField.javaField}" name="${node.dbField.javaField}First" lay-verify="datetime"  placeholder="起始$node.formItem.title" autocomplete="off" class="magicalcoder-laydate layui-input"/>
                                </div>
#end
#if($StringUtil.isNotBlank($formQuery.secondCompare))
                                <div class="layui-inline security_list_query_param_$node.dbField.javaField">-</div>
                                <div class="layui-inline security_list_query_param_$node.dbField.javaField">
                                    <input type="text" data-name="${node.dbField.javaField}"  name="${node.dbField.javaField}Second" lay-verify="datetime"  placeholder="终止$node.formItem.title" autocomplete="off" class="magicalcoder-laydate layui-input"/>
                                </div>
#end
