                        <textarea name="${node.dbField.javaField}" placeholder="$node.formItem.placeholder" class="layui-textarea" lay-verify="magicalCoderVerify#parse("vms/$version/jsp/include/formvalidate/lay-verify.vm")" #if($node.formItem.disabled)disabled="true"#end>$!node.formItem.defaultValue</textarea>
                        <pre class="layui-code magicalcoder-code" name="${node.dbField.javaField}Code" $TableFieldUtil.layuiOptionsToHtmlAttrs($node.formItem.selectValue)></pre>
