                        <input type="text"  name="${node.dbField.javaField}" placeholder="$node.formItem.placeholder"  autocomplete="off" class="magicalcoder-laydate layui-input" lay-verify="magicalCoderVerify#parse("vms/$version/jsp/include/formvalidate/lay-verify.vm")" value="$!node.formItem.defaultValue" #if($node.formItem.disabled)disabled="true"#end $TableFieldUtil.layuiOptionsToHtmlAttrs($node.formItem.selectValue)/>
