#parse("vms/$version/common/variable/head.vm")
#parse("vms/$version/common/comment/html-desc.vm")
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/${jshtmlVersion}/include/head :: commonHead('${tableComment}列表')"/>
<body class="childrenBody">
<!--请不要删除magicaldrag注释标签，可以配合布局器进行联动布局-->
<!--magicaldrag-->
    <div class="layui-fluid">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">查询条件</div>
                    <div class="layui-card-body">
                        <form class="layui-form queryForm security_list_query_form">
                            <div class="layui-form-item">
                                #parse("vms/$version/jsp/include/entity-list-query.vm")
                                <div class="layui-inline security_list_query_operate_search">
                                    <a class="layui-btn  layui-btn-radius layui-btn-sm search_btn" data-type="reload"><i class="layui-icon layui-icon-search"></i>搜索</a>
                                    <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm layui-btn-sm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"  style="height: auto;">
                        <div class="layui-inline security_list_query_operate_add_news">
                            <a class="layui-btn layui-btn-normal layui-btn-sm addNews_btn"><i class="layui-icon layui-icon-add-1"></i>添加</a>
                        </div>
                        <div class="layui-inline security_list_query_operate_del_all">
                            <a class="layui-btn layui-btn-danger layui-btn-sm delAll_btn"><i class="layui-icon layui-icon-delete"></i>批量删除</a>
                        </div>
                        <div class="layui-inline security_list_export_excel_all">
                            <a class="layui-btn layui-btn-sm exportExcelAll_btn" title="数据量很多时谨慎使用,出于安全考虑最大导出20000条" data-max-export-count="20000"><i class="layui-icon layui-icon-export"></i>导出EXCEL</a>
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form tableForm security_list_table_form">
                            <table class="security_list_table" id="newsList" lay-filter="newsListFilter" data-primary-fields="$dbPriorityKeyJavaField"></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/magicaldrag-->
    ##模板编写
        #parse("vms/$version/jsp/include/entity-list-table-template.vm")
    <!--操作-->
    <script type="text/html" id="newsListOperateTemplate">
        <a class="layui-btn layui-btn-normal layui-btn-xs security_list_table_operate_edit" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs security_list_table_operate_del" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
    #if($childrenList)
        #if($childrenList.size()==1)
        <a class="layui-btn layui-btn-xs security_list_table_operate_children" lay-event="children"><i class="layui-icon layui-icon-senior"></i>$childrenList.get(0).childDbTable.tableComment</a>
        #else
        <a class="layui-btn layui-btn-xs security_list_table_operate_children" lay-event="children"><i class="layui-icon layui-icon-senior"></i>相关</a>
        #end
    #end
    </script>
    <div th:replace="magicalcoder/${jshtmlVersion}/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/${tableRealNameLowerCase}/list.js}"></script>
</body>
</html>
