#parse("vms/$version/common/variable/head.vm")
package ${companyName}.${projectName}.service.${lowerEntity}.mapper;

import ${companyName}.${projectName}.core.service.ICommonMapper;
import ${companyName}.${projectName}.model.${Entity};
import java.util.List;
import java.util.Map;
#if($hasDateQuery)
import java.util.Date;
import java.sql.Time;
import java.sql.Timestamp;
#end
import java.math.*;
#parse("vms/$version/common/comment/ClassDesc.vm")

public interface ${Entity}Mapper extends ICommonMapper<${Entity},${dbPriorityKeyJavaType}>{

}
